swiftshader/build/
sdl2/configure
sdl2/config.log
sdl2/include/SDL_config.h
sdl2/include/SDL_revision.h
sdl2/sdl2-config.cmake
sdl2/sdl2.pc
sdl2/test/configure
packages
sdl2/Makefile
sdl2/Makefile.rules
sdl2/build/
sdl2/config.status
sdl2/configure~
sdl2/libEGL.so
sdl2/libGLESv2.so
sdl2/libtool
sdl2/sdl2-config
sdl2/test/configure~

sdl2/android-project/.gradle/
sdl2/android-project/app/.cxx/
sdl2/android-project/app/build/
